{{- if .Values.configMaps }}
{{- range $name, $config := .Values.configMaps }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}
  namespace: {{ $.Release.Namespace }}
data:
{{- range $key, $value := $config.data }}
  {{ $key }}: |
{{ $value | indent 4 }}
{{- end }}
{{- end }}
{{- end }}
